@import 'utils/variables.scss';
@import "utils/mixins.scss";

.game-page__sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  float: right;
  width: 4%;
  height: 100%;

  background: $sea;

  .sidebar__logo {
    padding: 10%;
    width: 100%;
    height: auto;
    transition: padding 1s ease;

    @include for-desktop {
      padding: 15%;
    }
  }
}
