@import 'utils/variables.scss';

.online-games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .online-games__content {
    width: 100%;
    max-width: 30em;
    margin: 3px;

    border: 1px solid $sea;
    border-radius: 5px;

    animation: fadeInUp;
    animation-duration: 1s;

    .online-games__title {
      color: $sea;
    }

  }
}
