@import 'utils/variables.scss';

.create-game-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 0;
  overflow: hidden;

  background-color: $dark;
  color: $snow;
  box-shadow: 0 1px 10px 0 $navy;

  transition: all 0.3s ease;

  .create-game-form__title {
    font-size: 2.25em;
    padding: 0.5em;
  }
}

.create-game-form__open {
  height: 34em;
  padding: 2em;
}
