@import 'utils/variables.scss';
@import 'utils/mixins.scss';

.technology-section {
  display: flex;
  align-items: center;
  max-width: 80em;

  .technology-section__wrapper {
    padding: 2em;

    .technology-section__description {
      color: $gray;
    }
  }

  @include for-desktop {
    flex-direction: column;
    text-align: center;

    .technology-section__wrapper {
      padding-bottom: 0;
    }
  }
}
