$carbon: #333333;
$navy: #0A2647;
$blue: #144272;
$dark: #205295;
$sea: #2C74B3;

$sangria: #9b0006;

$navbar-height: 4.375em;
$padding-to-navbar: 1.5em;
$scroll-padding-top: calc($navbar-height + $padding-to-navbar);
